In [ ]:
#question:12
def Num_list(a,b,c,d,e,f):
    return a+b,b+c,c+d,d+e,e+f
Num_list(5,6,8,34,89,1)

(11, 14, 42, 123, 90)

In [ ]:
#question:13
def Num_tuple(a,b,c,d,e,f):
    return(a*b,a*b*c,a*b*c*d,a*b*c*d*e,a*b*c*d*e*f)
Num_tuple(5,6,8,3,9,1)

(30, 240, 720, 6480, 6480)

In [ ]:
#question:7
list = [11,33,50]
for n in list :
      print(n,end="")

113350

In [17]:
#question:14
a=int(input("enter the number"))
newlist=[]
b=0
while a>0 :
  x=a%10
  a=a//10
  b=b*10+x
while b>0 :
  x=b%10
  b=b//10
  newlist.append(x)
print(newlist)

enter the number343256
[3, 4, 3, 2, 5, 6]

In [21]:
#question:10
y=int(input("enter year: "))
m=int(input("enter month: "))
d=int(input("enter date: "))
if y%4==0:
  leapy=True
else:
  leapy==False
if m==2:
   if leapy:
       m_length=29
   else:
       m_length=28
elif m in(4,6,9,11):
       m_length=30
else:
       m_length=31
if d<m_length:
   d=d+1
else:
   d=1
   y+=1
print(f"successor date is [yyyy-mm-dd] : {y}-{m}-{d}")

enter year: 2020
enter month: 07
enter date: 08
successor date is [yyyy-mm-dd] : 2020-7-9

In [3]:
#question:11
def num_list(a,b,c,d,e,f,g,h):
  return a*b*c*d*e*f*g*h
num_list(45,3,2,89,72,1,10,7)

121111200

In [ ]:
#question:4
new_string=input("Enter the string:")
str=new_string.replace(" ","-")
print(str)

Enter the string:we are from sru
we-are-from-sru

In [2]:
#question:5
my_list="orange","red","cyan","green","magneta","pink","white"
my_list=sorted(my_list)
print(my_list)

['cyan', 'green', 'magneta', 'orange', 'pink', 'red', 'white']

In [ ]:
#question:6
salary=int(input("enter the salary:"))
if salary<=250000:
   print("tax is zero")
elif salary<=500000:
   print("tax to be paid:",salary*0.05)
elif salary<=750000:
   print("tax to be paid:",salary*0.10)
elif salary<=1000000:
   print("tax to be paid:",salary*0.15)
elif salary<=1250000:
   print("tax to be paid:",salary*0.20)
else:
   print("tax to be paid:",salary*0.30)

enter the salary:250000
tax is zero

In [ ]:
#question:8
D=int(input("enter days"))
H=int(input("enter hours"))
M=int(input("enter minutes"))
S=int(input("enter saconds"))
A=D*24*60*60+H*60*60+M*60+S
print("total seconds",A)

enter days2
enter hours4
enter minutes4
enter saconds12
total seconds 187452

In [ ]:
#question:1
P=float(input("enter the first side of triangle:"))
Q=float(input("enter the second side of triangle:"))
R=float(input("enter the third side of triangle:"))
S=(P+Q+R)/2
A=(S*(S-P)*(S-Q)*(S-R))**0.5
print("the area of triangle:",A)

enter the first side of triangle:6
enter the second side of triangle:7
enter the third side of triangle:8
the area of triangle: 20.33316256758894

In [ ]:
#question:2
string=input("enter a string")
a=string[::-1]
if string==a:
  print("palindrome")
else:
 print("not palindrome")

enter a string121
palindrome

In [ ]:
#question:3
year=int(input("enter the year"))
if year%400==0:
  print("it is leap year".format(year))
elif year%100==0:
  print("it is leap year".format(year))
elif year%4==0:
  print("it is leap year".format(year))
else:
  print("it is not a leap year".format(year))

enter the year2016
it is leap year

In [ ]:
#question:9
A=int(input("enter first integer "))
B=int(input("enter second integer "))
C=int(input("enter third integer "))
p=max(A,B,C)
q=min(A,B,C)
V=A+B+C-p-q
print(p,q,V)

enter first integer 3
enter second integer 4
enter third integer 1
4 1 3

In [8]:
#question:15
a=input("Enter a palindrome ")
list1=[]
list2=[]
index=0
for i in range(0,len(a)-1):
   for j in range(i+1,len(a)+1):
       if j-i>1:
         p=a[i:j]
         if (p==p[::-1]):
           list1.append(a[i:j])
           list2.append(len(a[i:j]))
           maximum=max(list2)
           for i in list2:
             if i==maximum:
                print(list1[index])
             else:
                index=index+1

Enter a palindrome ata
ata

In [12]:
#question:16
a=input("enter binary number of length 10 ")
b=input("enter binary number of length 5 ")
if b[:] in a[:] :
  print(1)
else:
  print(0)

enter binary number of length 10 1010110010
enter binary number of length 5 10110
1