In [2]:
#question:1
print(0.1+0.2)
print("1.8"+"2")
print(87>78)
print((0.1+0.2)==0.3)
print("predict""output","....")

0.30000000000000004
1.82
True
False
predictoutput ....

In [11]:
#question:2
print("prints","multiple","messages\n")
print("concatenate"+"two strings\n")
print('5+6+'"adds two numbers\n")

prints multiple messages

concatenatetwo strings

5+6+adds two numbers

In [9]:
#question:3
print("ba"+"na"*2)
print("c:\\naresh\\raju\\abhi")

banana
c:\naresh\raju\abhi

In [13]:
#question:4
str='welcome to phython program'
print(str[0:32:4])
tr='A series of characters designated as one object known as string'
tr[2:19:5]

wothora

'sscc'

In [20]:

#question:5
print('A series of characters designed as one object known as a string'[::1][4::3])
print("----------")
print('welcome to phython training program'[3:10][::-1])

rsfhae sn  ebckwaatn
----------
ot emoc

In [23]:
#question:6a
str1=True
x=5>3
print(str1==x)
y=5>8
print(str1==y)

True
False

In [26]:
#question:6b
num=7
Name="Michael Jackson"
sear_num=Name.find('el')
print(num>sear_num)

True

In [27]:
#question:7
p_phrase="was it a car or a cat I saw".upper()
p_phrase[::-1]

'WAS I TAC A RO RAC A TI SAW'

In [28]:
#question:8
a='1934567'
a[1:7:2]

'946'

In [31]:
#question:9
fake_phrase="Fake news has a knack for spreding like wildfire".upper()
out=fake_phrase[-9:14:-1]
out.split()

['EKIL', 'GNIDERPS', 'ROF', 'KCANK']

In [33]:

#question:10
msg1="facebook already uses AI to filter for spreading like wildfire".split()
out=msg1
print(out)

['facebook', 'already', 'uses', 'AI', 'to', 'filter', 'for', 'spreading', 'like', 'wildfire']

In [54]:
#question:11
msg2 = "welcome to sr engineering college"
x=msg2.count('o')
y=msg2.count('r')
msg2[y**x:(x**y+x+y):][::-1]
#x=3,y=2,y**x=2**3=8,x**y+x+y=3**2+3+2=14 msg2[8:14:]
#We will get 'to sr'
#msg2[

' rs ot'

In [40]:
#question:12a
num1,num2="94","30"
data="As per census 2011,gender ratio of india is 943 females per 1000 males"
num1+num2[0] in data

True

In [43]:
#question:12b
print(data[:45],print(int(num1)+int(num2)))

124
As per census 2011,gender ratio of india is 9 None

In [47]:
#question:14
x=int(input("enter x"))
y=2*x;
z=('z'*x)+('0'*y)
z

enter x2

'zz0000'

In [48]:
#question:15
x=int(input("enter x"))
y=int(input("enter y"))
pow=x**y
pow
div=pow//(x+y)
div
out=div^(x+y)
out

enter x2
enter y2

5

In [51]:
#question:13
m=int(input("enter amount of water in kg"))
b=int(input("enter intial temperature"))
c=int(input("enter final temperature"))
Q=m*(c-b)*4184
print(Q)

enter amount of water in kg1
enter intial temperature1
enter final temperature2
4184